<mat-toolbar color="primary" [ngClass]="{ 'opened': isHeaderOpened }">
    <div fxFlex fxLayout fxLayoutAlign="flex-start">
        <button mat-fab>We Do</button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="center">
        <div fxLayout="row">
            <div class="we-do-selector" fxLayout="column">
            </div>
            <div class="we-do-selector-btn" fxLayout="column">
                <mat-icon (click)="isHeaderOpened = !isHeaderOpened">
                    menu
                </mat-icon>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li>
                <a class="navigationLinkItem" routerLink="/signup" >Sign in</a>
            </li>
            <li>
                <a class="navigationLinkItem" routerLink="/login" >Login</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
<we-do-sidebar class="main-container"></we-do-sidebar>
<main class="main-container">
    <router-outlet ></router-outlet>
</main>
